<div [class]="computedClasses()">
  <div class="ul-status-icon">
    <ul-icon [icon]="icon" size="12" />
    @if (loadingAnimation()) {
      <div class="ul-status-loading">
        <ul-radial [size]="96" [percentage]="50" [infinite]="true" />
      </div>
    }
  </div>
  <div class="ul-status-title-container">
    <div class="ul-status-title">
      <ng-content select="[ul-status-title]" />
    </div>
    <div class="ul-status-subtitle">
      <ng-content select="[ul-status-subtitle]" />
    </div>
  </div>
  <div class="ul-status-description">
    <ng-content select="[ul-status-description]" />
  </div>
</div>
