<div
  class="ul-skeleton"
  [class.ul-skeleton--active]="show()"
  [class.ul-skeleton--rect]="variant() === 'rect'"
  [class.ul-skeleton--text]="variant() === 'text'"
  [class]="radiusClass() || ''"
  [style.width]="hostStyles().width"
  [style.height]="hostStyles().height"
>
  <div class="ul-skeleton__content">
    <ng-content />
  </div>

  @if (show()) {
    @if (variant() === 'text') {
      <div class="ul-skeleton__overlay ul-skeleton__overlay--text">
        @for (lineWidth of lineWidths(); track trackByIndex($index)) {
          <div class="ul-skeleton__block ul-skeleton__block--line" [style.width]="lineWidth"></div>
        }
      </div>
    } @else {
      <div class="ul-skeleton__overlay ul-skeleton__overlay--rect">
        <div class="ul-skeleton__block ul-skeleton__block--rect"></div>
      </div>
    }
  }
</div>

