<div class="ul-footer">
  <p class="ul-footer__copyright">
    <ng-content select="[ul-copyright]" />
  </p>
  @if (socialLinks()) {
    <ul class="ul-footer__social-links">
      @for (link of socialLinks(); track link.url) {
        <li class="ul-footer__social-link">
          <ul-button
            theme="ghost-white"
            [iconOnly]="true"
            [disabled]="false"
            (buttonClick)="navigate(link.url)"
          >
            <ul-icon [icon]="link.icon" />
          </ul-button>
        </li>
      }
    </ul>
  }
  @for (link of links(); track link.url) {
    <a [href]="link.url" class="ul-link ul-body-m--medium">{{ link.text }}</a>
  }
</div>
