<nav class="ul-breadcrumb" aria-label="Breadcrumb">
  <ol class="ul-breadcrumb__list">
    @for (item of items(); track $index) {
      <li
        class="ul-breadcrumb__item"
        [class.ul-breadcrumb__item--current]="isLastItem($index)"
        [class.ul-breadcrumb__item--with-icon]="item.icon"
        [class.ul-breadcrumb__item--hidden-mobile]="maxItems() && !shouldShowOnMobile($index)"
      >
        @if (isLastItem($index)) {
          <span class="ul-breadcrumb__text" aria-current="page">
            @if (item.icon) {
              <ul-icon [icon]="item.icon" size="5" class="ul-breadcrumb__icon" />
            }
            {{ item.label }}
          </span>
        } @else {
          @if (item.href) {
            <a [href]="item.href" class="ul-breadcrumb__link">
              @if (item.icon) {
                <ul-icon [icon]="item.icon" size="5" class="ul-breadcrumb__icon" />
              }
              {{ item.label }}
            </a>
          } @else if (item.routerLink) {
            <a [routerLink]="item.routerLink" class="ul-breadcrumb__link">
              @if (item.icon) {
                <ul-icon [icon]="item.icon" size="5" class="ul-breadcrumb__icon" />
              }
              {{ item.label }}
            </a>
          } @else {
            <span class="ul-breadcrumb__text">
              @if (item.icon) {
                <ul-icon [icon]="item.icon" size="5" class="ul-breadcrumb__icon" />
              }
              {{ item.label }}
            </span>
          }
        }

        @if (!isLastItem($index)) {
          <span class="ul-breadcrumb__separator" aria-hidden="true">
            @if (separator() === 'chevron_right') {
              <ul-icon icon="chevron_right" size="5" />
            } @else if (separator() === 'slash') {
              <span class="ul-breadcrumb__separator-text">/</span>
            } @else if (separator() === 'dot') {
              <span class="ul-breadcrumb__separator-text">·</span>
            }
          </span>
        }
      </li>
    }

    @if (shouldShowEllipsisOnMobile()) {
      <li class="ul-breadcrumb__item ul-breadcrumb__item--ellipsis" aria-hidden="true">
        <span class="ul-breadcrumb__ellipsis">...</span>
        <span class="ul-breadcrumb__separator" aria-hidden="true">
          @if (separator() === 'chevron_right') {
            <ul-icon icon="chevron_right" size="5" />
          } @else if (separator() === 'slash') {
            <span class="ul-breadcrumb__separator-text">/</span>
          } @else if (separator() === 'dot') {
            <span class="ul-breadcrumb__separator-text">·</span>
          }
        </span>
      </li>
    }
  </ol>
</nav>
