<div
  class="ul-input ul-input--{{ size() }} ul-input--appearance-{{ appearance() }}"
  [class.ul-input--error]="hasError()"
  [class.ul-input--disabled]="disabled()"
  [class.ul-input--read-only]="readOnly()"
  [class.ul-input--required]="required()"
  [attr.aria-invalid]="hasError()"
  [attr.aria-required]="required()"
  [attr.aria-describedby]="describedBy()"
>
  <ul-form-field-label
    [label]="label()"
    [required]="required()"
    [for]="effectiveControlId()"
    [size]="size()"
    [showRequiredIndicator]="showRequiredIndicator()"
  />

  <div class="ul-input__group" [class.ul-input__group--focused]="isFocused()">
    <div class="ul-input__left-elements">
      <ng-content select="[ul-input-left-elements]" />
    </div>

    <input
      [id]="effectiveControlId()"
      [type]="effectiveType()"
      class="ul-input__field"
      [placeholder]="placeholder()"
      [value]="value()"
      (input)="onInput($event)"
      (blur)="onBlur($event)"
      (focus)="onFocus($event)"
      (keydown)="onKeydown($event)"
      [disabled]="disabled()"
      [readonly]="readOnly()"
      [required]="required()"
      [attr.maxlength]="maxLength()"
      [attr.minlength]="minLength()"
      [attr.pattern]="nativePattern()"
      [attr.step]="nativeStep()"
      [attr.autocomplete]="autocomplete()"
      [attr.aria-invalid]="hasError()"
      [attr.aria-required]="required()"
      [attr.aria-describedby]="describedBy()"
    />

    <div class="ul-input__right-elements">
      @if (isPasswordType()) {
        <ul-button
          class="ul-input__password-toggle"
          theme="ghost-white"
          size="sm"
          type="button"
          [iconOnly]="true"
          [ariaLabel]="passwordToggleLabel()"
          (buttonClick)="togglePasswordVisibility()"
        >
          <ul-icon [icon]="passwordToggleIcon()" />
        </ul-button>
      }
      <ng-content select="[ul-input-right-elements]" />
    </div>
  </div>

  <ul-form-field-helper
    [id]="effectiveHelperId()"
    [helperText]="helperText()"
    [errorText]="errorText() || (hasError() && errors().length ? errors()[0].message : '') || null"
    [error]="hasError()"
  />
</div>
