<div class="ul-toast-container" aria-live="polite" aria-atomic="true">
  @for (toast of toasts(); track trackById($index, toast)) {
    <section class="ul-toast ul-toast--{{ toast.kind }}" [attr.role]="toast.role">
      <div class="ul-toast__icon">
        @if (toast.showIcon) {
          <ul-icon [icon]="toast.icon" size="6" iconWeight="bold" />
        }
      </div>

      <div class="ul-toast__body">
        @if (toast.title) {
          <h3 class="ul-toast__title">
            {{ toast.title }}
          </h3>
        }
        <p class="ul-toast__message">
          {{ toast.message }}
        </p>
      </div>

      @if (toast.dismissible) {
        <ul-button
          theme="ghost-white"
          size="sm"
          [iconOnly]="true"
          class="ul-toast__close"
          ariaLabel="Dismiss notification"
          (buttonClick)="dismiss(toast.id)"
        >
          <ul-icon icon="cross" size="5" />
        </ul-button>
      }
    </section>
  }
</div>
